.matrix{
background-size: contain;
color: #1e90ff;
 }
body{
  font-family:  Courier, "Lucida Console", monospace;
}
.autor_logo{
  padding: 1%;
}
.helloo{
  position: relative;
  z-index:1;
  float: left;
  padding: 3px 13px 9px 14px;
  color:#1e90ff;
}
.cognito{
  position: absolute;
  z-index:2;
  float: left;
  padding: 3px 13px 9px 9px;
  color: #ff8c00!important;
  background-color: #1e90ff;
}
.logo{
  margin-top: -5px;
  border: 1px solid #ff8c00;
  position: absolute;
  z-index: 3;
  float: left;
  padding-left: 8px;
  max-width: 140px;
  transition: transform 4s;
}

.cognito,.helloo{
  margin-top: 5px;
  margin-left: 15px;
  border: 1px solid #ff8c00;
  font-weight: bold;

}

section{
  text-align: center;
  max-width: 85%;
  margin: -9px auto 0 auto;
  padding: 15px;
  background-color: #FFE;
}
section,h1,footer{
  border:1px solid  #1e90ff;
}
h1{
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
  color: white;
  text-align: center;
  font-style: italic;
  font-size: 50px;
}
h1, footer{
  background-color:#DADDDE;
  width: 100%;
  font: normal, 1.5em, bold, cursive;
}
h2,h3{
  margin-top: 15px;
}
h2,.colortext{
  color: darkorange
}
h3{
  color: #000;
}
h3,span,.commande{
  font-style: italic;
}
.conseil{
  background-color: #e0ffff;
}
.commande{
  color: green;
}
.def{
  color: #1e90ff;
}
table{
  border:1px solid darkorange;
  border-collapse: collapse;
  text-align: left;
  margin:0 auto;
}
td{
    border:1px solid darkorange;
    padding: 5px;
}
.editor{
  text-align: center;
}
span{
  font-weight: bold;
  color: darkorange;
}
.objectif{
  color:darkorange;
}
td,.pic{
  background-color: #FFF;
}
.sch{
  max-width: 100%
  margin: 0 auto;
}
.advices{
color: #1e90ff;
margin: 0 auto;
font-weight: normal;
}
img{
  width: 100%;

}
.pic{
  margin: 0 auto;
  border: 1px solid #1e90ff;
}
.root{
  border-width: 1px solid #e6e6fa;
  text-align: center;
  padding:5%
  margin:0 auto;
}
.references{
  font-size: 0.8rem;
}
ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2px 20px;
  text-decoration: none;
}
a{
  text-decoration: none;
}
.pickers{
  max-width: 24px;
}
footer{
padding-top: 6px;
height: 45px;
}
/* PSEUDO CLASSES*/

.logo:hover{
  transform: rotate(360deg) translate(0px, 50px);
}


/*MEDIA QUERIES*/
@media screen and (max-width: 1308px) {
          .sch,.pic {
              display:none
            }

}
