/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
========================================================================== */

*{
  box-sizing: border-box;
}
body{
  font-family:  Courier, "Lucida Console", monospace;
  background-image: url("../img/versioning.JPG");
  background-repeat: no-repeat;
  background-size: cover;
}

header{
  background-color: #FFE;
  border-bottom: 1px solid  #1e90ff;
}
img{
  max-width: 100%;
}
.icone{
  margin-left: 30px;
  text-align: center;
}
.autor_logo{
  margin-right: 5px;
}
.helloo{
  position: relative;
  z-index:1;
  color:#1e90ff;
}
.cognito{
  position: absolute;
  z-index:2;
  color: #ff8c00!important;
  background-color: #1e90ff;
}
.logo{
  margin-top: -2px;
  margin-left: -40px;
  border: 1px solid #1e90ff;
  position: absolute;
  z-index: 3;
  padding-left: 1px;
  max-width: 130px;
  transition: transform 3s;
}

.cognito,.helloo{
  width: 90px;
  margin-top: 8px;
  margin-right: 30px;
  padding: 6px;
  border: 1px solid #FFE;
  font-weight: bold;
}
.logo,.cognito,.helloo{
  float: left;
}
section{
  position: relative;
  text-align: center;
  max-width: 98%;
  margin: -9px auto 0 auto;
  padding: 15px;

}
.lateralnav{
  position: relative;
  text-align: center;
  font-size: 0.8rem;
  /*float:left;*/
  display:block;
  border:1px solid  #1e90ff;
  padding: 6px;
  margin-bottom: 0px 25px 10px 0px;
  opacity:0.8;
  text-decoration: none;
  background-color: #7fffd4;
}
footer{
    border-top: 1px solid  #1e90ff;
}
h1{
  padding: 6px;
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
  color: white;
  text-align: center;
  font-style: italic;
  font-size: 1.5rem;
}
h1, footer{
  background-color:#DADDDE;
  width: 100%;
  font: normal, 1.5em, bold, cursive;
}
h2{
  font-size: 1.5rem;
  margin-top: 5px;
}
h3{
  font-size: 1.3rem;
  font-weight: bold;
}
h3,h4{
  color: #FFE;
}
.colortext{
  color: darkorange;
}

h3,span,.commande{
  font-style: italic;
}
.conseil,.enTete{
  background-color: darkorange;
}
.commande{
  border: 1px solid #FFE;
  background-color: #1e90ff;
}
.detail{
  color: #1e90ff;
  background-color: #FFE;
  opacity:0.7;
}
.def{
  font-weight: bold;
}
.def,.ligneTop{
  color: #FFE;
}
.ligneTop{
  background-color: #1e90ff;
}
ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 2px 20px;
  text-decoration: none;
}
a{
  text-decoration: none;
}
table,.conseil{
  border:1px solid darkorange;
}
table{
  width: 100%;
  border-collapse: collapse;
  font-size: 1.0rem;
  background-color: #FFE;
  opacity: 0.9;
  text-align: center;
}
td{
    border:1px solid darkorange;
    padding: 2px;
    font-weight: bold;
}

span{
  font-size: 1.0rem;
}
.objectif{
  color:darkorange;
}
.sch,.pic,.advices{
  background-color: #FFD;
  opacity: 0.8;
}
.sch{
  max-width: 100%
}
.schema,.advices {
  color: #1e90ff;
}
.sourceListe a{
  padding: 3px;
  background-color:  #1e90ff;
  border-radius: 2px;
}
.advices{
  padding: 10px;
  font-weight: bold;
  font-size: 1.3rem;
  background-image: url('../img/rachmaninof.JPG');
  background-repeat: no-repeat;
  background-size: cover;
  z-index:auto;
}
.regle{
  border: 2px solid #7fffd4;
  background-color: beige;
}
table,ul,.sch,.advices,.pic,.root{
  margin: 0 auto;
}

.pic{
  border: 1px solid #1e90ff;
  max-width: 45%;
}
.root{
  border-width: 1px solid #e6e6fa;
  text-align: center;
  padding:5px;
}
.references{
  font-size: 1.1rem;
  font-weight: bold;
}
.references a{
  color:#e6e6fa;
  text-decoration: none;
}

.pickers{
  max-width: 24px;
}
.auteur{
  font-style: oblique;
  color:green;
}
footer{
padding-top: 6px;
height: 45px;
}

/*######################### PSEUDO CLASSES###################################""*/

.logo:hover{
  transform: rotate(360deg) translate(0px, 50px);
}
.references a:hover{
  font-size: 1.0rem;
  padding: 3px;
  color:darkorange;
  background-color: #1e90ff;
}
.lateralnav a:hover{
  color:green;
  background-color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 2px;
}

/*###############################MEDIA QUERIES##################################""*/
@media (min-width: 490px) {
     .wrap{
       min-height:calc(100vh - 45px);
     }
   }
   @media (max-width: 769px) {
        body{
           font-weight: bold;
        }
        .definition{
          font-size: 1.1rem;

        }
        h2{
          font-size: 1.0rem;
          font-weight: bold;
          color: #000;
        }
        .root,.advices{
          font-size: 0.8rem;
        }

      }
@media screen and (max-width: 1308px) {
          .sch,.pic {
              display:none
            }

}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
