.matrix{
background-size: contain;
color: #1e90ff;
 }
body{
  background-color: seashell;
  font-family:  Courier, "Lucida Console", monospace;
}
.advz{
  background-image:url("https://www.atlassian.com/git/images/atlassian-getting-git-right.jpg");
}
.def{

}
h1{
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
   color: white;
   text-align: center;
   font-style: italic;
   font-size: 50px;
}
