.matrix{
background-size: contain;
color: #1e90ff;
 }
body{
  background-color:darkorange,
  font-family:  Courier, "Lucida Console", monospace;
}
section{
  text-align: center;
  max-width: 85%;
  margin: 0 auto;
  background-color: seashell;
}
span{
  font-weight: bold;
}
.sch{
  max-width: 100%
  margin: 0 auto;
}
.advices{
background-image:url("https://www.atlassian.com/git/images/atlassian-getting-git-right.jpg");
color: #1e90ff;
margin: 0 auto;
}
.def{
color: darkorange
}
h1{
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
   color: white;
   text-align: center;
   font-style: italic;
   font-size: 50px;
}
img{
  width: 100%;

}
.pic{
  margin: 0 auto;
  border-width: thin;
  border:medium solid  #1e90ff;
  background-color: #e6e6fa;
}
.root{
  border-width: thin;
border:medium solid  #1e90ff;
background-color:  #e6e6fa;
text-align: center;
padding:5%
margin:0 auto;
}
ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2px 20px;
  text-decoration: none;
}
a{
  text-decoration: none;
}
.pickers{
  max-width: 24px;
}
footer p{
  text-align: center;
}
footer{
width: 100%;
font: normal, 1.5em, bold, cursive;
background-color:#DADDDE;
padding-top: 6px;
height: 45px;
}
@media screen and (max-width: 1308px) {
          .sch,.pic {
              display:none
            }

}
